<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Tag -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags must come first in the head; any other head content must come after these tags -->
    <meta
      name="description"
      content="CarePlus Diagnostic Services LLC - About Us"
    />
    <meta name="author" content="root" />
    <title>CarePlus Diagnostic Services LLC - About Us</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Barlow:400,500,500i,700,700i&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,600,600i,700,700i&display=swap"
      rel="stylesheet"
    />

    <!--  CSS Style -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/fontawesome-all-5.9.0.min.css" />
    <link rel="stylesheet" href="assets/css/animate.min.css" />
    <link rel="stylesheet" href="assets/webfonts/flaticon/flaticon.css" />
    <link rel="stylesheet" href="assets/css/owl.css" />
    <link rel="stylesheet" href="assets/css/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="assets/css/layerslider.css" />
    <link rel="stylesheet" href="assets/css/template.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/ctg/medical.css" />
  </head>

  <body>
    <div class="preloader">
      <div class="text-center text-primary xy-center position-relative">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>

    <div id="page_wrapper">
      <div class="row">
        <!-- Header Section Start -->
        <header class="standard-header nav-on-top">
          <div class="top-header sm-mx-none bg-danger">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <ul class="top-contact">
                    <li >
                      <a href="tel:847-306-3340" class="text-white"
                        ><i class="fas fa-phone mr-1 fa-rotate-90 "></i>Phone : (+1)
                        847-306-3340</a
                      >
                    </li>
                    <li>
                      <a href="mailto:support@uscpds.com" class="text-white"
                        ><i class="fas fa-envelope mr-1"></i
                        >support@uscpds.com</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="main-nav bg-white">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <nav
                    class="navbar navbar-expand-lg navbar-light nav-secondary nav-primary-hover py-2 transation"
                  >
                    <a class="navbar-brand" href="index-medical.html.html"
                      ><img
                        class="nav-logo"
                        src="assets/images/logos/logo.png"
                        width = "140"
                        alt="Image not found"
                    /></a>
                    <button
                      class="navbar-toggler bg-light"
                      type="button"
                      data-toggle="collapse"
                      data-target="#navbarSupportedContent"
                      aria-controls="navbarSupportedContent"
                      aria-expanded="false"
                      aria-label="Toggle navigation"
                    >
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div
                      class="collapse navbar-collapse"
                      id="navbarSupportedContent"
                    >
                      <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                          <a class="nav-link" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="about-us.html">About us</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="service.html">Services</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href = "\templates\assets\CarePlus_RequisitionForm_2868.pdf" download = "CarePlus_RequisitionForm">Download Order Form</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="https://www.rapidrad.com/login/">Facility Login</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="contact.html">Contact</a>
                        </li>
                      </ul>
                    </div>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </header>
        <!-- Header Section End -->

        <!--  Banner Start -->
        <div
          class="page-banner-image w-100"
          style="
            background: url(assets/images/background/banner.png) no-repeat 0 0 /
              cover;
            background-position: center center;
          "
        >
          <div class="container">
            <div class="row">
              <div class="col-lg-12 py-8">
                <h1 class="page-title mb-3 text-danger">About</h1>
                <nav aria-label="breadcrumb" class="text-secondary">
                  <ol class="breadcrumb mb-0 bg-transparent p-0">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li
                      class="breadcrumb-item active text-danger"
                      aria-current="page"
                    >
                      About Us
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <!--  Banner End -->

        <!-- Who We Are Start -->
        <div class="full-row">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h3 class="down-line w-75 w-sm-100 mx-auto text-center mb-4">Who We Are ?</h3>
                <span class="sub-title text-center mb-5"
                  >"We are your trusted partner in health, providing precise
                  diagnostics with care and expertise."</span
                >
              </div>
            </div>
            <div class="row">
              <div class="col-lg-7 col-12">
                <p>
                  Established in 2021, CarePlus Diagnostic Services LLC calls
                  Highland, Illinois, its home. However, our vision extends far
                  beyond, as we aim to bring our compassionate and efficient
                  ultrasound diagnostic services to multiple states across the
                  U.S. We have made it our mission to collaborate with long-term
                  care facilities, short-term rehabilitation centers,
                  assisted/independent living facilities, group homes, and home
                  healthcare agencies to improve the quality of healthcare
                  provided to individuals in need.
                </p>
                <p>
                  At the core of our company's inception is a strong belief in
                  the power of humanity to alleviate the difficulties faced by
                  others. We began by asking ourselves a fundamental question:
                  What level of care would we desire for our own loved ones in
                  times of adversity? This question inspired our commitment to
                  providing exceptional care to all those we serve.
                </p>
                <p>
                  Our commitment is reinforced by the advancements in technology
                  that have made ultrasound machines portable and enabled us to
                  deliver rapid, accurate results. We understand that when it
                  comes to health, time is of the essence. As a result, we have
                  embraced the latest technology to expedite the diagnostic
                  process, ensuring that the care we offer to our clients is the
                  same care we would want for our own family members in their
                  time of need.
                </p>

                <a class="btn btn-danger mb-5 mb-lg-0" href="service.php"
                  >Our Services</a
                >
              </div>
              <div class="col-lg-5 col-12">
                <div class="single-carusel owl-carousel m-mt-30">
                  <div class="item">
                    <img src="assets/images/about/1.png" alt="" />
                  </div>
                  <div class="item">
                    <img src="assets/images/about/2.png" alt="" />
                  </div>
                  <div class="item">
                    <img src="assets/images/about/3.png" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Who We Are Start -->

        <!--  Our Features Start -->
        <div class="full-row bg-light flat-white">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h3 class="mb-4 text-center down-line w-lg-65 mx-auto">
                  Why Choose Us
                </h3>
                <span class="sub-title text-center mb-5 w-lg-65 mx-auto"
                  >Unwavering commitment to accuracy and compassionate care,
                  ensuring the best healthcare experience for you</span
                >
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-6 col-12">
                <div class="mb-5 transation">
                  <div class="position-relative box-60px bg-primary mb-4">
                    <i
                      class="flaticon-24-hours-support p-3 text-white xy-center position-absolute"
                    ></i>
                  </div>
                  <h6 class="pb-3"><a href="#">24 Hours Service</a></h6>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-12">
                <div class="mb-5 transation">
                  <div class="position-relative box-60px bg-primary mb-4">
                    <i
                      class="flaticon-24-hours-support p-3 text-white xy-center position-absolute"
                    ></i>
                  </div>
                  <h6 class="pb-3">
                    <a href="#">Quick Results</a>
                  </h6>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-12">
                <div class="mb-5 transation">
                  <div class="position-relative box-60px bg-primary mb-4">
                    <i
                      class="flaticon-doctor-1 p-3 text-white xy-center position-absolute"
                    ></i>
                  </div>
                  <h6 class="pb-3">
                    <a href="#">Certified Technicians</a>
                  </h6>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-12">
                <div class="mb-5 transation">
                  <div class="position-relative box-60px bg-primary mb-4">
                    <i
                      class="flaticon-cardiogram p-3 text-white xy-center position-absolute"
                    ></i>
                  </div>
                  <h6 class="pb-3">
                    <a href="#">Cutting-edge diagnostic technology</a>
                  </h6>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-12">
                <div class="mb-5 transation">
                  <div class="position-relative box-60px bg-primary mb-4">
                    <i
                      class="flaticon-car p-3 text-white xy-center position-absolute"
                    ></i>
                  </div>
                  <h6 class="pb-3">
                    <a href="#">Compassionate and experienced staff</a>
                  </h6>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-12">
                <div class="mb-5 transation">
                  <div class="position-relative box-60px bg-primary mb-4">
                    <i
                      class="flaticon-white-cross p-3 text-white xy-center position-absolute"
                    ></i>
                  </div>
                  <h6 class="pb-3">
                    <a href="#">Commitment to exceptional patient care</a>
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--  Our Features End -->

        <!--  Trust us Start  -->
        <div class="full-row bg-light">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <span
                  class="text-primary text-center d-table mx-auto tagline mb-1"
                  >Why People Trust Us</span
                >
                <h3 class="mb-4 text-center down-line w-lg-65 mx-auto">
                  Proven track record of accuracy and exceptional caring service
                </h3>
                <span class="sub-title text-center mb-5 w-lg-65 mx-auto mb-4"
                  >Delivering exemplary diagnostic services to serve all
                  individuals.</span
                >
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-12">
                <div
                  class="text-center bg-white px-4 mb-4 mb-lg-0 transation py-5"
                >
                  <span class="flaticon-doctor text-primary flat-large"></span>
                  <h6 class="py-3">
                    <a href="doctors-profile.php">Professional Specialists</a>
                  </h6>
                  <p>
                    Our team of professional specialists is composed of highly
                    trained and experienced diagnosticians who excel in accurate
                    and comprehensive assessments
                  </p>
                </div>
              </div>
              <div class="col-lg-4 col-12">
                <div
                  class="text-center bg-white px-4 mb-4 mb-lg-0 transation py-5"
                >
                  <span
                    class="flaticon-medical-operation text-primary flat-large"
                  ></span>
                  <h6 class="py-3">
                    <a href="doctors-profile.php"
                      >Reliable Healthcare Partner</a
                    >
                  </h6>
                  <p>
                    Our long-standing reputation for consistent quality,
                    accurate diagnostics, and compassionate care has made us a
                    trusted choice in healthcare.
                  </p>
                </div>
              </div>
              <div class="col-lg-4 col-12">
                <div
                  class="text-center bg-white px-4 mb-4 mb-lg-0 transation py-5"
                >
                  <span
                    class="flaticon-treatment text-primary flat-large"
                  ></span>
                  <h6 class="py-3">
                    <a href="doctors-profile.php">Latest Technology</a>
                  </h6>
                  <p>
                    Our unwavering commitment to advancing healthcare through
                    cutting-edge technology and ongoing research sets us apart
                    from the rest.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
       
        

        <!-- Footer start -->
        <footer class="full-row bg-secondary">
          <div class="container">
            <div class="row">
              
              <!-- <div class="col-lg-12"> -->
                <div class="col-lg-3 col-md-6">
                  <div class=" text-white footer-widget footer-nav mb-4 transation">
                    <h3 class="text-white widget-title mb-4">Quick Contact</h3>
                    <ul>
                        <li><a class="text-white" href="tel:847-306-3340">Phone: +1 (847)-306-3340</a></li>
                        <li><a class="text-white" href="#">Fax: (847)-306-3475</a></li>
                        <li><a class="text-white" href="mailto:support@uscpds.com">Email: support@uscpds.com</a></li>
                        <li><a class="text-white" href="#">Location: </a></li>
                        <li><a class="text-white" href="https://maps.app.goo.gl/GuFBm36ePdNEWi3c7" target="_blank">2868 Skokie Valley Rd STE 4, <br> Highland Park, IL, 60035</a></li>
                    </ul>
                  </div>
                  </div>
    
                  <div class="col-lg-9">
                  <h1 class="text-center text-white font-italic w-sm-100 text-right">We strive to make healthcare a seamless and empowering experience!</h1>
                  <p class="w-50 text-light text-center mt-5 mx-auto w-sm-100 text-right">We're here to provide you with the highest quality diagnostics and care. Discover the path to better health with us today</p>
                </div>
              <!-- </div> -->
            </div>
          </div>
        </footer>
        <div class="full-row bg-dark py-4">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <ul class="bottom-nav">
                  <li><a href="index.html">Home</a></li>
                  <li><a href="about-us.html">About Us</a></li>
                  <li><a href="service.html">Services</a></li>
                  <li><a class="nav-link" href = "\templates\assets\CarePlus_RequisitionForm_2868.pdf" download = "CarePlus_RequisitionForm"></a>Download Order Form</a></li>
                  <li><a href="https://www.rapidrad.com/login/">Facility Login</a></li>
                  <li><a href="contact.html">Contact</a></li>
                </ul>
              </div>
              <div class="col-lg-4">
                <div class="copyright"> <span>&copy; 2020 All Rights Reserved</a></span> </div>
              </div>
            </div>
          </div>
        </div>
        <a href="#" class="bg-danger text-white" id="scroll"><i class="fa fa-angle-up"></i></a>
      </div>
    </div>	
        <!-- Footer end -->

        <!--   Scroll to top start  -->
        <a
          href="#"
          class="bg-danger text-white transation"
          id="scroll"
          style="display: inline"
          ><i class="fa fa-angle-up"></i
        ></a>
        <!--   Scroll to top end  -->
      </div>
    </div>
    <!--===============================================================================================-->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/greensock.js"></script>
    <script src="assets/js/layerslider.transitions.js"></script>
    <script src="assets/js/layerslider.kreaturamedia.jquery.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/fontawesome-all-5.9.0.min.js"></script>
    <script src="assets/js/jquery.fancybox.min.js"></script>
    <script src="assets/js/owl.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/paraxify.js"></script>
    <script src="assets/js/custom.js"></script>
  </body>
</html>