<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Tag -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="CarePlus Diagnostic Services LLC" />
    <meta name="author" content="root" />
    <title>CarePlus Diagnostic Services LLC</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Exo:500,700,700i&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,600,600i,700,700i&display=swap"
      rel="stylesheet"
    />

    <!--  CSS Style -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/fontawesome-all-5.9.0.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/webfonts/flaticon/flaticon.css">
    <link rel="stylesheet" href="assets/css/owl.css">
    <link rel="stylesheet" href="assets/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="assets/css/layerslider.css">
    <link rel="stylesheet" href="assets/css/template.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/ctg/landing.css">
</head>
<body>

<div class="preloader">
	<div class="text-center text-primary xy-center position-relative">
		<div class="spinner-border" role="status">
			<span class="sr-only">Loading...</span>
		</div>
	</div>
</div>
<div id="page_wrapper">
	<div class="row">
		<!-- Header Section Start -->
		<header class="nav-on-banner header-transparent fixed-bg-secondary">
			<div class="main-nav">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<nav class="navbar navbar-expand-lg navbar-light nav-white nav-primary-hover py-1">
								<a class="navbar-brand" href="index.html"><img class="nav-logo" src="assets/images/logos/logo.png" width="130" alt="Image not found"></a>
								<button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
								<div class="collapse navbar-collapse" id="navbarSupportedContent">
								  <ul class="navbar-nav ml-auto">
									<li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
									<li class="nav-item"><a class="nav-link" href="about-us.html">About us</a></li>
									<li class="nav-item"><a class="nav-link" href="#">Services</a></li>
									<li class="nav-item"><a class="nav-link" href="#">Download Order Form</a></li>
									<li class="nav-item"><a class="nav-link" href="https://www.rapidrad.com/login/">Facility Login</a></li>
									<li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
								  </ul>
								</div>
						    </nav>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- Header Section End -->

		<div class="full-row p-0 overflow-hidden">
			<div id="slider" style="width:1200px; height:1000px; margin:0 auto;margin-bottom: 0px;">			
				<!-- Slider -->
				<div class="ls-slide" data-ls="bgsize:cover; bgposition:50% 50%; duration:8000; transition2d:104; timeshift:-1000; kenburnszoom:in; kenburnsscale:1.1;">
					<img width="1920" height="1280" src="assets/images/background/2.png" class="ls-bg" alt="" />
					<div style="width:100%; height:100%; background:rgba(36, 37, 50, 0.80); top:50%; left:50%;" class="ls-l" data-ls="showinfo:1; durationin:2000; easingin:easeOutExpo; scalexin:1.5; scaleyin:1.5; position:fixed;"></div>
					<p style="text-align:center; white-space:pre-wrap; width:850px; line-height: 70px; font-size:45px; color:#ffffff; top:43%; font-weight:700; left:50%; white-space:normal;" class="ls-l higlight-font" data-ls="offsetyin:-20; durationin:3200; delayin:100; easingin:easeOutExpo; fadein:false; offsetxout:-80; durationout:400; texttransitionin:true; texttypein:chars_asc; textshiftin:35; textoffsetxin:-180; textdurationin:600; texteasingin:easeInQuart; textstartatin:transitioninstart + 0; parallaxlevel:0;">Empowering Health through Insightful Diagnosis</p>
					<p style="text-align:center; color: #fff; white-space:pre-wrap; font-size:17px; font-style:italic; line-height:30px; width:650px; color:#dadada; top:60%; left:50%; white-space:normal;" class="ls-l ordenery-font ls-hide-phone" data-ls="offsetxin:-150; durationin:600; delayin:2600; easingin:easeInQuart; offsetxout:-80; durationout:400; parallaxlevel:0;">Precision Diagnosis, Care Beyond Measure.</p>
					<a style="" class="ls-l ls-hide-phone" href="#" target="_self" data-ls="delayin:4100; easingin:easeOutBack; rotatexin:-360; offsetxout:-80; durationout:400; hover:true; hoverdurationin:300; hoveropacity:1; hoverbgcolor:#ffffff; hovercolor:#0c2109; parallaxlevel:0;">
						<p style="cursor:pointer; padding-top:20px; padding-right:35px; padding-bottom:20px; padding-left:35px; font-family:Open Sans; font-weight:600; font-size:15px; color:#fff; border-radius:0; top:73%; left:50%; text-align:center;" class="bg-primary">Explore More</p>
					</a>
				</div>
			</div>
		</div>
		
		
		<div id="all-demo" class="full-row bg-gray">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h1 class="text-primary text-center mx-auto mb-4">24 Hour Support</h1>
						<span class="w-50 d-table ordenery-font mx-auto text-center sub-title w-sm-100 font-medium">Service 7 Days a Week, 365 Days a Year: Always Here for You!</span>
					</div>
				</div>
			</div>
		</div>
		<div class="full-row bg-light">
			<div class="container">
				<div class="col-lg-12 mb-5">
					<h3 class="text-center mx-auto w-50 mb-4 w-sm-100 text-secondary">Our Services</h3>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<ul class="multi-demo px-0 row">
							<li>
								<a target="_blank" class="demo-example hover-text-primary transation">
									<img src="assets/images/demo/ultrasonography.png" alt="Image not found!">
									<span>Ultrasound</span>
								</a>
							</li>
							<li>
								<a target="_blank"  class="demo-example hover-text-primary transation">
									<img src="assets/images/demo/x-ray.png" alt="Image not found!">
									<span>X-Ray</span>
								</a>
							</li>
							<li>
								<a target="_blank"  class="demo-example hover-text-primary transation">
									<img src="assets/images/demo/ekg.png" alt="Image not found!">
									<span>2D Echo</span>
								</a>
							</li>
							<li>
								<a target="_blank"  class="demo-example hover-text-primary transation">
									<img src="assets/images/demo/heartbeat.png" alt="Image not found!">
									<span>EKG</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
		<div class="full-row bg-primary py-5">
			<div class="container">
				<div class="row">
					<h2 class="m-0 text-center text-white font-italic font-weight-normal mx-auto">Quality Diagnostics, Compassionate Care</h2>
				</div>
			</div>
		</div>
		
		<div class="full-row bg-light">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h2 class="down-line w-75 w-sm-100 mx-auto text-center mb-4">Why Choose Us</h2>
						<span class="w-50 d-table mx-auto text-center mb-5 w-sm-100"></span>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="mb-5">
							<h5 class="mb-3">Cutting-Edge Technology</h5>
							<p>Our diagnostic center is equipped with the latest and most advanced medical diagnostic equipment and technology, ensuring the highest level of accuracy and precision in tests and results. Patients can trust that they are receiving state-of-the-art care.</p>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="mb-5">
							<h5 class="mb-3">Experienced and Compassionate Staff</h5>
							<p>Our center employs a team of highly skilled and compassionate healthcare professionals who are dedicated to providing personalized care and support. Patients can feel comfortable and confident in the hands of your experienced staff.</p>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="mb-5">
							<h5 class="mb-3">Quick Turnaround Time</h5>
							<p>Our center prioritizes efficiency and timely service, offering fast turnaround times for test results. Patients can have peace of mind knowing that they will receive their diagnoses and reports promptly, helping them make informed healthcare decisions.</p>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="mb-5">
							<h5 class="mb-3">Comprehensive Services</h5>
							<p>Our diagnostic center offers a wide range of medical tests and diagnostic services, catering to various medical needs. Whether it's routine check-ups, specialized tests, or preventive screenings, patients can find all the services they require under one roof, making healthcare more convenient and accessible.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		
		<footer class="full-row bg-secondary">
			<div class="container">
				<div class="row">
					
					<!-- <div class="col-lg-12"> -->
						<div class="col-lg-3 col-md-6">
							<div class=" text-white footer-widget footer-nav mb-4 transation">
							  <h3 class="text-white widget-title mb-4">Quick Contact</h3>
							  <ul>
								<li><a class="text-white" href="#">Phone: +1 (847)-306-3340</a></li>
								<li><a class="text-white" href="#">Fax: (847)-306-3475</a></li>
								<li><a class="text-white" href="#">Email: support@uscpds.com</a></li>
								<li><a class="text-white" href="#">Location: </a></li>
								<li><a class="text-white" href="#">2868 Skokie Valley Rd STE 4, <br> Highland Park, IL, 60035</a></li>
							  </ul>
							</div>
						  </div>

						  <div class="col-lg-9">
							<h1 class="text-center text-white font-italic w-sm-100 text-right">We strive to make healthcare a seamless and empowering experience!</h1>
							<p class="w-50 text-light text-center mt-5 mx-auto w-sm-100 text-right">We're here to provide you with the highest quality diagnostics and care. Discover the path to better health with us today</p>
						</div>
					<!-- </div> -->
				</div>
			</div>
		</footer>
		<div class="full-row bg-dark py-4">
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<ul class="bottom-nav">
							<li><a href="index.html">Home</a></li>
							<li><a href="about-us.html">About Us</a></li>
							<li><a href="#">Services</a></li>
							<li><a href="#">Download Order Form</a></li>
							<li><a href="#">Facility Login</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</div>
					<div class="col-lg-4">
						<div class="copyright"> <span>&copy; 2020 All Rights Reserved</a></span> </div>
					</div>
				</div>
			</div>
		</div>
		<a href="#" class="bg-primary text-white" id="scroll"><i class="fa fa-angle-up"></i></a>
	</div>
</div>	



    <!--===============================================================================================-->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/greensock.js"></script>
    <script src="assets/js/layerslider.transitions.js"></script>
    <script src="assets/js/layerslider.kreaturamedia.jquery.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/fontawesome-all-5.9.0.min.js"></script>
    <script src="assets/js/jquery.fancybox.min.js"></script>
    <script src="assets/js/owl.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/paraxify.js"></script>
    <script src="assets/js/custom.js"></script>

    <script>
      $(document).ready(function () {
        $("#slider").layerSlider({
          sliderVersion: "6.0.0",
          type: "fullwidth",
          responsiveUnder: 1350,
          maxRatio: 1,
          slideBGSize: "auto",
          hideUnder: 0,
          hideOver: 100000,
          autoStart: false,
          keybNav: false,
          touchNav: false,
          skin: "v5",
          globalBGColor: "#ffffff",
          navPrevNext: false,
          hoverPrevNext: false,
          navStartStop: false,
          navButtons: false,
          showCircleTimer: false,
          allowRestartOnResize: true,
          skinsPath: "assets/skins/",
          height: 720,
        });
      });
    </script>
  </body>
</html>
