<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Povital - Medical & Health HTML Template">
    <meta name="author" content="root">
    <title>Povital - Medical & Health HTML Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Barlow:400,500,500i,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,600,600i,700,700i&display=swap" rel="stylesheet">

    <!--  CSS Style -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/fontawesome-all-5.9.0.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/webfonts/flaticon/flaticon.css">
    <link rel="stylesheet" href="assets/css/owl.css">
    <link rel="stylesheet" href="assets/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="assets/css/layerslider.css">
    <link rel="stylesheet" href="assets/css/template.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/ctg/medical.css">
</head>

<body>
    <div class="preloader">
        <div class="text-center text-primary xy-center position-relative">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>

    <div id="page_wrapper">
        <div class="row">
            <!-- Header Section Start -->
            <header class="standard-header nav-on-top">
                <div class="top-header sm-mx-none bg-danger">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12">
                        <ul class="top-contact">
                          <li >
                            <a href="tel:847-306-3340" class="text-white"
                              ><i class="fas fa-phone mr-1 fa-rotate-90 "></i>Phone : (+1)
                              847-306-3340</a
                            >
                          </li>
                          <li>
                            <a href="mailto:support@uscpds.com" class="text-white"
                              ><i class="fas fa-envelope mr-1"></i
                              >support@uscpds.com</a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
      
                <div class="main-nav bg-white">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12">
                        <nav
                          class="navbar navbar-expand-lg navbar-light nav-secondary nav-primary-hover py-2 transation"
                        >
                          <a class="navbar-brand" href="index-medical.html.html"
                            ><img
                              class="nav-logo"
                              src="assets/images/logos/logo.png"
                              width = "140"
                              alt="Image not found"
                          /></a>
                          <button
                            class="navbar-toggler bg-light"
                            type="button"
                            data-toggle="collapse"
                            data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent"
                            aria-expanded="false"
                            aria-label="Toggle navigation"
                          >
                            <span class="navbar-toggler-icon"></span>
                          </button>
                          <div
                            class="collapse navbar-collapse"
                            id="navbarSupportedContent"
                          >
                            <ul class="navbar-nav ml-auto">
                              <li class="nav-item">
                                <a class="nav-link" href="index.html">Home</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="about-us.html">About us</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="service.html">Services</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="#">Download Order Form</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="https://www.rapidrad.com/login/">Facility Login</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="#">Contact</a>
                              </li>
                            </ul>
                          </div>
                        </nav>
                      </div>
                    </div>
                  </div>
                </div>
              </header>
            <!-- Header Section End -->

            <!--  Banner Start -->
            <div class="page-banner-image w-100" style="background: url(assets/images/background/banner.png) no-repeat 0 0 / cover; background-position: center center;">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 py-8">
                            <h1 class="text-primary page-title mb-3">Services</h1>
                            <nav aria-label="breadcrumb" class="text-secondary">
                                <ol class="breadcrumb mb-0 bg-transparent p-0">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active text-primary" aria-current="page">Services</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!--  Banner End -->

            <!--  Our Special Services Start  -->
            <div class="full-row">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="mb-4 text-center down-line w-lg-65 mx-auto">Our Services</h3>
                            <span class="sub-title text-center mb-5 w-lg-65 mx-auto"> Explore a range of diagnostic solutions and services that empower you to take control of your health and well-being.</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="bg-light transation hover-img-zoom">
                                <div class="overflow-hidden">
                                    <img src="assets/images/service/1.png" alt="">
                                </div>
                                <div class="p-4 text-center">
                                    <h6 class="mb-3"><a href="#" class="hover-text-primary">X-Ray</a></h6>
                                    <p>Our advanced X-ray services provide invaluable insights into your body's inner workings. Our state-of-the-art equipment and skilled radiologists ensure accurate and detailed imaging, aiding in the swift diagnosis and effective treatment of various health conditions. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="bg-light transation hover-img-zoom">
                                <div class="overflow-hidden">
                                    <img src="assets/images/service/2.png" alt="">
                                </div>
                                <div class="p-4 text-center">
                                    <h6 class="mb-3"><a href="#" class="hover-text-primary">Ultrasound</a></h6>
                                    <p>Our ultrasound services offer a non-invasive tool for peering inside your body, providing crucial insights for accurate diagnosis. Our experienced professionals utilize state-of-the-art technology to ensure precise results, allowing you to make informed decisions.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="bg-light transation hover-img-zoom">
                                <div class="overflow-hidden">
                                    <img src="assets/images/service/3.png" alt="">
                                </div>
                                <div class="p-4 text-center">
                                    <h6 class="mb-3"><a href="#" class="hover-text-primary">EKG/ECG</a></h6>
                                    <p> Our ECG services provide a window into your heart's electrical activity, helping detect irregularities and assess cardiac health. With cutting-edge technology and a dedicated team of experts, we deliver accurate and timely ECG results to support your overall well-being.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="bg-light transation hover-img-zoom">
                                <div class="overflow-hidden">
                                    <img src="assets/images/service/4.png" alt="">
                                </div>
                                <div class="p-4 text-center">
                                    <h6 class="mb-3"><a href="#" class="hover-text-primary">Echocardiogram</a></h6>
                                    <p> Our echocardiogram services allow you to explore the intricate dance of your heart's chambers and valves in real-time. Using advanced technology and the expertise of our skilled professionals, we provide detailed echocardiogram examinations that help assess cardiac function and detect issues early, ensuring your heart stays in tune for a healthier future.</p>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-lg-4 col-md-6 mb-4">
                            <div class="bg-light transation hover-img-zoom">
                                <div class="overflow-hidden">
                                    <img src="assets/images/service/5.png" alt="">
                                </div>
                                <div class="p-4 text-center">
                                    <h6 class="mb-3"><a href="#" class="hover-text-primary">Laboratory Tests</a></h6>
                                    <p>Condimentum sociosqu auctor varius donec proin accumsan etiam ornare erat cubilia vitae Pellentesque</p>
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="col-lg-4 col-md-6 mb-4">
                            <div class="bg-light transation hover-img-zoom">
                                <div class="overflow-hidden">
                                    <img src="assets/images/service/6.png" alt="">
                                </div>
                                <div class="p-4 text-center">
                                    <h6 class="mb-3"><a href="#" class="hover-text-primary">Pregnancy & Child Births</a></h6>
                                    <p>Condimentum sociosqu auctor varius donec proin accumsan etiam ornare erat cubilia vitae Pellentesque</p>
                                </div>
                            </div>
                        </div> -->
                       
                        <!-- <div class="col-lg-4 col-md-6 mb-4">
                            <div class="bg-light transation hover-img-zoom">
                                <div class="overflow-hidden">
                                    <img src="assets/images/service/10.png" alt="">
                                </div>
                                <div class="p-4 text-center">
                                    <h6 class="mb-3"><a href="#" class="hover-text-primary">Childrent Care</a></h6>
                                    <p>Condimentum sociosqu auctor varius donec proin accumsan etiam ornare erat cubilia vitae Pellentesque</p>
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="col-lg-4 col-md-6 mb-4">
                            <div class="bg-light transation hover-img-zoom">
                                <div class="overflow-hidden">
                                    <img src="assets/images/service/11.png" alt="">
                                </div>
                                <div class="p-4 text-center">
                                    <h6 class="mb-3"><a href="#" class="hover-text-primary">Ear Nose and Throat</a></h6>
                                    <p>Condimentum sociosqu auctor varius donec proin accumsan etiam ornare erat cubilia vitae Pellentesque</p>
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="col-lg-4 col-md-6 mb-4">
                            <div class="bg-light transation hover-img-zoom">
                                <div class="overflow-hidden">
                                    <img src="assets/images/service/12.png" alt="">
                                </div>
                                <div class="p-4 text-center">
                                    <h6 class="mb-3"><a href="#" class="hover-text-primary">Cancer Treatment</a></h6>
                                    <p>Condimentum sociosqu auctor varius donec proin accumsan etiam ornare erat cubilia vitae Pellentesque</p>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <!--  Our Special Services End  -->

           

            <!-- Footer -->
            <footer class="full-row bg-secondary">
                <div class="container">
                  <div class="row">
                    
                    <!-- <div class="col-lg-12"> -->
                      <div class="col-lg-3 col-md-6">
                        <div class=" text-white footer-widget footer-nav mb-4 transation">
                          <h3 class="text-white widget-title mb-4">Quick Contact</h3>
                          <ul>
                              <li><a class="text-white" href="tel:847-306-3340">Phone: +1 (847)-306-3340</a></li>
                              <li><a class="text-white" href="#">Fax: (847)-306-3475</a></li>
                              <li><a class="text-white" href="mailto:support@uscpds.com">Email: support@uscpds.com</a></li>
                              <li><a class="text-white" href="#">Location: </a></li>
                              <li><a class="text-white" href="https://maps.app.goo.gl/GuFBm36ePdNEWi3c7" target="_blank">2868 Skokie Valley Rd STE 4, <br> Highland Park, IL, 60035</a></li>
                          </ul>
                        </div>
                        </div>
          
                        <div class="col-lg-9">
                        <h1 class="text-center text-white font-italic w-sm-100 text-right">We strive to make healthcare a seamless and empowering experience!</h1>
                        <p class="w-50 text-light text-center mt-5 mx-auto w-sm-100 text-right">We're here to provide you with the highest quality diagnostics and care. Discover the path to better health with us today</p>
                      </div>
                    <!-- </div> -->
                  </div>
                </div>
              </footer>
              <div class="full-row bg-dark py-4">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-8">
                      <ul class="bottom-nav">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about-us.html">About Us</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Download Order Form</a></li>
                        <li><a href="https://www.rapidrad.com/login/">Facility Login</a></li>
                        <li><a href="#">Contact</a></li>
                      </ul>
                    </div>
                    <div class="col-lg-4">
                      <div class="copyright"> <span>&copy; 2020 All Rights Reserved</a></span> </div>
                    </div>
                  </div>
                </div>
              </div>
            <!--  Footer end  -->

            <!--   Scroll to top start  -->
            <a href="#" class="bg-primary text-white transation" id="scroll" style="display: inline;"><i class="fa fa-angle-up"></i></a>
            <!--   Scroll to top end  -->
        </div>
    </div>

    <!--===============================================================================================-->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/greensock.js"></script>
    <script src="assets/js/layerslider.transitions.js"></script>
    <script src="assets/js/layerslider.kreaturamedia.jquery.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/fontawesome-all-5.9.0.min.js"></script>
    <script src="assets/js/jquery.fancybox.min.js"></script>
    <script src="assets/js/owl.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/paraxify.js"></script>
    <script src="assets/js/custom.js"></script>
</body>

</html>